@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.dashboard-items-container {
  border: 2px solid #dedede;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.dashboard-component-header {
  display: flex;
  flex-wrap: wrap;
}

.add-member {
  width: 54px;
  height: 34px;
}

/* Chat containers */
.dashboard-item {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.dashboard-item:hover {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.dashboard-item::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.dashboard-item img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.dashboard-item img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.dashboard-item-alt p {
  border: 2px solid #ddd;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Style time text */
.online-status {
  color: #aaa;
}

a {
  color: inherit;
}

h2,h4,p {
    font-family: "Roboto", sans-serif;
}

i {
    margin-left: 1rem;
}

.item-right {
  float: right;
}

.item-center {
  text-align: center;
}

.item-left {
    float: left;
    margin: 0px;
}

.items-overflow {
  height: 50vh;
  overflow: auto;
}

.item-description {
  overflow-wrap: anywhere;
}

.ticket-icon {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}